
/*   
	Sune Larsson 950903-7157
	Elliot Eriksson 001130-4672
*/
:root{
	--font: font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
	margin: 0;
	padding: 0;
	background-image: url("http://wallpaperset.com/w/full/0/b/5/180191.jpg");
}

#nav {
	display: block;
	color: white;
	padding: 3px;
	text-align: center;
	text-shadow: 1px 1px 1px rgb(0, 0, 0), 2px 2px 1px rgb(255, 72, 0);
}

#people {
	display: block;
	padding-left: 0;
	/*border: black 1px solid;*/
	list-style: none;
	/* background-color: antiquewhite; */
	text-align: center;
}

#people li {
	display: inline;
	margin-right: 10px;
	/*border: black 2px solid;*/
	border-radius: 5px;
	
	
}
#year{
	text-align: center;
	color: white;
	/* background-color: whitesmoke; */
	text-shadow: 1px 1px 1px rgb(0, 0, 0), 2px 2px 1px rgb(255, 72, 0);

}
#economy {
	display: block;
	padding-left: 0;
	list-style: none;
	text-align: center;
	/* background-color: whitesmoke; */
	/* opacity: 60%; */
}
#choices img{
	width: 35px;
	padding-left: 12px;
}


#coin{
	width: 15px;
}

#economy li {
	margin-bottom: 1px;
}

.fieldset {
	border-style: none;
	text-align: center;
}

button {
	margin: 30px 25px 0 0;
	padding: 10px 15px;
	border-radius: 50px;
	border: 0;
		
}

#buttons{
	display: block;
	text-align: center;
	border: 0;
}

button:hover {
	background: rgb(255, 255, 255);
}


#background{
	position: fixed;
	top: 22%;
	left: 5%;
	background-color: whitesmoke;
	font-size: 15px;
	width: 30%;
	height: auto;
	text-align: start;
	padding: 10px;
	border-radius: 50px;
	opacity: 0.9;	
}
#background h2{
	text-align: center;
}


a:link { 
	text-decoration: none; 
}

a:visited{ 
	text-decoration: none; 
}

a:hover { 
	text-decoration: none; 
}

a:active { 
	text-decoration: none; 
}

#help{
	display: none;
	position: fixed;
	right: 5%;
	top: 22%;
	height: auto;
	width: 30%;
	background-color: whitesmoke;
	border-radius: 50px;
	padding: 10px;
	opacity: 0.9;
	text-align: start;
}

#help h2{
	text-align: center;
}

#picture_links{
	bottom: 0%;
}

@media screen and (min-width: 601px) {
	#help {
	  font-size: 15px;
	}
  }

@media screen and (max-width: 1000px) {
	#help {
	 position: relative;
	 width: 100%;
	 padding:0;
	 margin-top: 5px;
	 border-radius: 5px;
	 right: 0;
	}
}

@media screen and (max-width: 1000px) {
	#background {
	 position: relative;
	 width: 100%;
	 padding:0;
	 left: 0;
	 margin-top: 5px;
	 border-radius: 5px;
	}
}




