body{
	margin: 0;
	padding: 0;
}
:root{
	--font: font-family:Georgia, 'Times New Roman', Times, serif;
}

#people {
	display: block;
	padding-left: 0;
	/*border: black 1px solid;*/
	list-style: none;
	background-color: antiquewhite;
	text-align: center;
}

#people li {
	display: inline;
	margin-right: 10px;
	/*border: black 2px solid;*/
	border-radius: 5px;
	
	
}
#year{
	text-align: center;
}
#economy {
	display: block;
	padding-left: 0;
	border: black 1px solid;
	list-style: none;
	text-align: center;
}
#choices img{
	width: 35px;
	padding-left: 12px;
}
#coin{

	width: 1%;
}
/*
#wheat{
	position: absolute;
	top: 29em;
	right: 38em;
	width: 2.5%;
}
#bread{
	position: absolute;
	top: 57%;
	right:40% ;
	width: 2.5%;
}
#land{
	position: absolute;
	top: 48%;
	right:40% ;
	width: 2.5%;
}
*/

#economy li {
	margin-bottom: 1px;
}

.fieldset {
	border-style: none;
	text-align: center;
}

button {
	margin: 30px 25px 0 0;
	padding: 10px 15px;
	font-family:var(--font);
		
}

#buttons{
	position: absolute;
	left: 39.25%;
}

button:hover {
	background: rgb(253, 241, 241);
	box-shadow: 10px 5px 5px rgb(118, 118, 118);
}

#nav {
	display: block;
	background-color: lightgrey;
	color: white;
	padding: 3px;
	text-align: center;
	text-shadow: 1px 1px 1px rgb(0, 0, 0), 2px 2px 1px rgb(255, 72, 0);
	
}

#background{

	position: fixed;
	top: 41%;
	left: 5%;
	background-color: whitesmoke;
	font-size: 15px;
	width: 25%;
	height: auto;
	text-align: center;
	padding: 2px;
	border-radius: 50px;	
}

a:link { 
	text-decoration: none; 
}

a:visited{ 
	text-decoration: none; 
}

a:hover { 
	text-decoration: none; 
}

a:active { 
	text-decoration: none; 
}

#help{
	display: none;
	position: fixed;
	right: 10px;
	top: 45%;
	height: auto;
	width: 25%;
	background-color: whitesmoke;
	border-radius: 50px;
	padding: 10px;
}

#help h2{
	text-align: center;
}

@media screen and (min-width: 601px) {
	#help {
	  font-size: 15px;
	}
  }

@media screen and (max-width: 1000px) {
	#help {
	 position: relative;
	 width: 100%;
	 padding:0;
	 margin-top: 5px;
	 border-radius: 5px;
	 right: 0;
	}
}

@media screen and (max-width: 1000px) {
	#background {
	 position: relative;
	 width: 100%;
	 padding:0;
	 left: 0;
	 margin-top: 5px;
	 border-radius: 5px;
	}
}




