/*   
	Sune Larsson 950903-7157
	Elliot Eriksson 001130-4672
*/

/* Body styling */
body {
	margin: 0;
	padding: 0;
	background-image: url("http://wallpaperset.com/w/full/0/b/5/180191.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}

/* Header Styling*/
#nav {
	display: block;
	color: white;
	padding: 3px;
	text-align: center;
	text-shadow: 1px 1px 1px rgb(0, 0, 0), 2px 2px 1px rgb(255, 72, 0);
}

/*content Styling*/
.info {
	background: rgba(238, 254, 255, 0.5);

}

#people {
	display: block;
	padding-left: 0;
	list-style: none;
	text-align: center;
}

#people li {
	display: inline;
	margin-right: 10px;
	border-radius: 5px;
}

#year {
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px rgb(0, 0, 0), 2px 2px 1px rgb(255, 72, 0);

}

#economy {
	display: block;
	padding-left: 0;
	list-style: none;
	text-align: center;
}

#choices img {
	width: 35px;
	padding-left: 12px;
}

#economy li {
	margin-bottom: 1px;
}

.fieldset {
	border-style: none;
	text-align: center;
}

/* Button Styling*/
button {
	margin: 30px 25px 0 0;
	padding: 10px 15px;
	border-radius: 50px;
	border: 0;

}

button:hover {
	background: rgb(255, 255, 255);
	cursor: pointer;
}

#buttons {
	display: block;
	text-align: center;
	border: 0;
}

/* text Styling*/
#background {
	position: fixed;
	top: 22%;
	left: 5%;
	background-color: rgb(255, 255, 255, 0.75);
	font-size: 15px;
	width: 30%;
	height: auto;
	text-align: start;
	padding: 10px;
	border-radius: 50px;
	box-shadow: 4px 4px 7px black;
}

#background h2 {
	text-align: center;
}

#help {
	display: none;
	position: fixed;
	right: 5%;
	top: 22%;
	height: auto;
	width: 30%;
	background-color: rgb(255, 255, 255, .75);
	border-radius: 50px;
	padding: 10px;
	text-align: start;
	box-shadow: 4px 4px 7px black;
}

#help h2 {
	text-align: center;
}

a:link {
	text-decoration: none;
}

/*Link Styling*/
#links {
	color: white;
	text-decoration: none;
	border-radius: 50px;
	position: fixed;
	bottom: 0;
	right: 0;
}

#links:hover {
	cursor: pointer;

}

/*Responsive texts and link*/
@media screen and (min-width: 601px) {
	#help {
		font-size: 15px;
	}
}

@media screen and (max-width: 1000px) {
	#help {
		position: relative;
		width: 100%;
		padding: 0;
		margin-top: 5px;
		border-radius: 5px;
		right: 0;
	}
}

@media screen and (max-width: 1000px) {
	#background {
		position: relative;
		width: 100%;
		padding: 0;
		left: 0;
		margin-top: 5px;
		border-radius: 5px;
		opacity: 0.9;
	}
}

@media screen and (max-width: 1000px) {
	#links {
		position: relative;
		display: block;
		text-align: right;
		left: 0;
	}
}