/*   
	Sune Larsson 950903-7157
	Elliot Eriksson 001130-4672
*/

body{
    background-image:  url("https://i.ytimg.com/vi/rRUCCPSZNrk/maxresdefault.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

a{
    color: white;
}